---
title: "Det var inte mycket jobb"
date: "2026-04-27"
effort: "låg"
meme: "https://i.imgur.com/5Nz7PDn.jpeg"
---


 

Det jag gjorde idag var att börja förstå vad jag ska göra och jag skrev lite kod

Exempel:

```js
        return () => {
            map.remove();
		};

 		let maploaded = $state(false);


```


