---
title: "Seg start"
date: "2026-04-24"
effort: "låg"
meme: "https://i.programmerhumor.io/2023/03/programmerhumor-io-programming-memes-b592bb1eb466dde.png"
---

# Jag har kommit en bit men inte nog mycket som jag bör ha gjort.

text om prokrastinering och de små framsteg sedan sist.

<ol style="list-style-type:numeric; list-style-position:inside;">
<li> Delmoment 1: har gjort karta + guess knapp som inte funkar än.</li>
<li>  </li>
<li></li>
</ol>