---
title: "lite fin slipning"
date: "2026-06-01"
effort: "medel"
meme: "https://media.tenor.com/jiidIB_SOBUAAAAM/clapping-the-twilight-zone.gif"
---

Jag har fixat klart det mesta och känner mig ganska nöjd. Jag skrev klart alla anteckningar och spelet så att det blev komplet. Inte helt perfekt men det spelet är spelbart och fint. 
   
